<div class="container">
    <div class="jumbotron">
      <h1>RESTURANT MANAGMENT SYSTEM</h1>
      <h2>Simply the best.</h2>
    </div>
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/dashboard">Dashboard</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" routerLink="/createOrder">Create Order</a>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link" routerLink="/order">Order</a>
                </li>
              </ul>
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <nav class="navbar navbar-light bg-light justify-content-between">
                <a class="navbar-brand"> Place New Order</a>
                <div class="form-inline">
                    <button class="btn btn-outline-success my-2 my-sm-0" routerLink="/order">Back</button>
                </div>
            </nav>
        </div>
        <div class="card-body">
            <form [formGroup]="createOrderForm" (ngSubmit)="onSubmit()">
                <div class="form-group row">
                    <label for="orderName" class="col-sm-2 col-form-label">Order Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" formControlName="orderName" id="orderName">
                        <small id="emailHelp" class="form-text text-muted" *ngIf="createOrderForm.controls['orderName'].errors && createOrderForm.controls['orderName'].dirty">password is Required</small>
                    </div>
                </div>
                <div class="form-row" formArrayName="items">
                    <div class="form-group row" *ngFor="let item of getControls(); let i=index" [formGroupName]="i">
                        <div class="form-group col-md-6">
                            <label for="itemName">Item Name</label>
                            <input type="text" class="form-control" formControlName="itemName" id="itemName">
                            <small id="emailHelp" class="form-text text-muted" *ngIf="createOrderForm.controls['items'].controls[i].controls['itemName'].errors && createOrderForm.controls['items'].controls[i].controls['itemName'].dirty">Item name is Required</small>
                        </div>
                        <div class="form-group col-md-3">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" formControlName="price" id="inputZip">
                            <small id="emailHelp" class="form-text text-muted" *ngIf="createOrderForm.controls['items'].controls[i].controls['price'].errors.required && createOrderForm.controls['items'].controls[i].controls['price'].dirty">price is Required</small>
                            <small id="emailHelp" class="form-text text-muted" *ngIf="createOrderForm.controls['items'].controls[i].controls['price'].errors.pattern && createOrderForm.controls['items'].controls[i].controls['price'].dirty">price must be number and max 9 digits</small>
                        </div>
    
                        <div class="form-group col-md-3">
                            <label>Action</label>
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-danger btn-sm" (click)="removeItems(i)">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-info btn-sm" (click)="addNewItems()">Add</button><br><br>
                <div class="form-group row">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary" [disabled]="!createOrderForm.valid">Submit</button>
                        <button type="button" class="btn btn-secondary" (click)="resetForm()">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  
  </div>
  
  
  
  